
body {
  background-color: #1a132a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
}

div {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.descriptors {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-weight: 300;
  font-size: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.descriptor {
  display: flex;
  min-width: fit-content;
  align-content: center;
  padding: 0 5px;
}
.name {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 100px 0;
  font-size: calc(30px + 5vw);
  max-width: 100%;
  line-height: 70px;
}

ul {
  padding: 10px;
}
li {
  list-style-type: none;
}
.bracket {
  font-size: 2.5rem;
  font-weight: 100;
}
.bracket-text {
  margin-right: 30px
}
.wrap-descriptor {
  margin: 70px 0 40px 0;
  max-width: 900px;
}
.statsNshit {
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-width: 900px;
}
.stat-element {
  text-align: right;
}
.stats {
  margin: auto;
}
.stat {
  margin-top:20px;
  align-items: center;
}
.stat-number {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  min-width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: 400;
}
.stats {
  width: 170px;
}
.glass-box {
  margin: 30px 30px 0 0;
  line-height: 1.8rem;
  flex-wrap: wrap;
  background-image: url('./images/denny-muller-532466-unsplash5.png');
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;
  max-width: 657px;
}

.voice {
  min-width: 430px;
  width: calc( 50% + 15vw);
}

.voice-intro {
  margin-bottom: 10px;
}
.value-statement{
  font-style: italic;
}

.info-box {
  width: 200px;
  max-width: 100%;
}

  @media screen and ( max-width: 760px ) and ( min-width: 511px ) {
    .wrap-descriptor {
      max-width: 460px;

      margin-bottom: 20px;
    }
    .stat-list {
      min-width: 430px;
    }
    .voice {
        width: 430px;
    }

  }


@media screen and ( max-width: 760px ) {
    .stat-list {
      margin-right: 30px;
      padding-bottom: 20px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    .stats {
      margin-bottom: 30px;
      width: fit-content;
    }
    .bottom-info {
      max-width: 600px
    }

}

@media screen and ( max-width: 510px) {
  .glass-box {
    width: 100%;
  }
    .voice {
    min-width: 90%;
  }
  .stat-list {
    min-width: 90%;
    margin-right: 30px;
  }
  .descriptors {
    width: 100%;
  }
}
.info-box li {
  list-style: upper-roman;
  margin-top: 10px;
}
.appWrapper {
  max-width: 1200px;
  flex-wrap: wrap;
}
.stat-list {
  width: 200px;
  flex-wrap: wrap;
}
.wrap {
  flex-wrap: wrap;
}
.alignment {
  padding-top: 20px;
  border-top: 1px solid white;
  align-items: center;
  justify-content: center;
}
.alignment-acronym {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.8em;
  margin: 10px;

}
.traits {
  width: 200px;
}

.circle-desc {
  align-items: center;
}

.button {
  padding:10px;
  background-color: transparent;
  border:1px solid white;
  border-radius: 5px;
  display: inline;
  color: white;
  max-width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.button a {
  color: white;
  text-decoration: none;
}

.options {
  margin: 60px 0;
}