
body {
  background-color: #1a132a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
}

.descriptors {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1rem;

}
.name {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 100px 0;
  font-size: 80px;
  width: 500px;
  line-height: 70px;
}
.box {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
ul{
  padding: 10px;
}
li {
    list-style-type: none;
}

.bracket {
  font-size: 2.5rem;
  font-weight: 100;
}
.wrap-descriptor {
  margin: 70px 0 40px 0;
}
.stat-element {
  text-align: right;
}
.stat {
  margin-top:20px;
  align-items: center;

}
.stat-number {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  min-width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: 400;

}
.stats {
  width: 170px;
}
.glass-box {
  margin: 30px 30px 0 0;
  line-height: 1.8rem;
  flex-wrap: wrap;
  background-image: url('./images/denny-muller-532466-unsplash5.png');
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;
  max-width: 657px;

}

.voice-intro {
  margin-bottom: 10px;
}

.value-statement{
  font-style: italic;
}
/*.bottom-info {
  width: calc(100% - 200px);
}
*/
.info-box {
  width: 200px;
  max-width:100%;
}
@media screen and ( max-width: 510px) {
  .info-box {
    width: 100%;

  }
}


.info-box li {
  list-style: upper-roman;
  margin-top: 10px;
}
.appWrapper {
  max-width: 1200px;
  flex-wrap: wrap;
}
.stat-list {
  width: 200px;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}
.alignment {
  margin-left: 10px;
  padding-top: 20px;
  border-top: 1px solid white;
  align-items: center;

}

.alignment-acronym {
  border-radius: 50%;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.8em;
  margin: 10px;

}
.traits {
  width: 200px;
}

.circle-desc {
  align-items: center;
}

.button {
  padding:10px;
  background-color: transparent;
  border:1px solid white;
  border-radius: 5px;
  display: inline;
  color: white;
  max-width: 300px;
    font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.button a {
  color: white;
  text-decoration: none;
}

.options {
  margin: 60px 0;
}